<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818688899000-rkdp53c93ndqldiqdedqscvn78t87dft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818688899000-rkdp53c93ndqldiqdedqscvn78t87dft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>818688899000-1k2e8rpek3pnrgrap520nc2bmahmesid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPFIFJUbnqhfj8cG9l8VqcH21ZHAvxugI</string>
	<key>GCM_SENDER_ID</key>
	<string>818688899000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-app-b6f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-app-b6f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818688899000:ios:97aea39ff59f5d7675414d</string>
	<key>DATABASE_URL</key>
	<string>https://foodie-app-b6f8c-default-rtdb.firebaseio.com</string>
</dict>
</plist>